<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-B.ttf</string>
		<string>Ubuntu-BI.ttf</string>
		<string>Ubuntu-C.ttf</string>
		<string>Ubuntu-L.ttf</string>
		<string>Ubuntu-LI.ttf</string>
		<string>Ubuntu-M.ttf</string>
		<string>Ubuntu-MI.ttf</string>
		<string>Ubuntu-R.ttf</string>
		<string>Ubuntu-RI.ttf</string>
		<string>Ubuntu-Th.ttf</string>
		<string>UbuntuMono-B.ttf</string>
		<string>UbuntuMono-BI.ttf</string>
		<string>UbuntuMono-R.ttf</string>
		<string>UbuntuMono-RI.ttf</string>
		<string>swift.ttf</string>
		<string>abosanova.ttf</string>
		<string>abosanovabold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
